<table class='table table-hover table-inverse'>

  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td>

        <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
          <% if book.favorited_by?(current_user) %>
          <p>
            <%= link_to book_favorites_path(book.id)  , method: :delete do %>
            <span style="color:red;">♥︎</span><%= book.favorites.count %>
            <% end %>
          </p>

        <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
          <% else %>
          <p>
            <%= link_to book_favorites_path(book.id), method: :post do %>
              <span>♥</span><%= book.favorites.count %>
            <% end %>
          </p>
        <% end %>
        </td>
        <!--コメントの件数を表示-->
        <td>コメント数:<%= book.book_comments.count %></td>

      </tr>
    <% end %>
  </tbody>

</table>